
extends ../../layouts/default

block css
	link(rel="stylesheet", href="/js/lib/fancybox/jquery.fancybox.css")
				
block content
	.page-header
		a(href='/Product/create').btn.btn-default.pull-right= user ? 'Add Album' : 'Sign in to Add Album'
		h1 Bảng giá bán sỉ
	.ItemList-wrapper#mod-group-product
		table.Table.ItemList
			//- colgroup
			//- 	col(width="26")
			thead
				tr
					//- th(colspan="1")
					th(colspan="1")
						button.ItemList__sort-button.th-sort.th-sort--desc(title="Sort by Name") Tên Hàng Hóa
							span.th-sort__icon
					th(colspan="1")
						button.ItemList__sort-button.th-sort.th-sort--desc(title="Sort by Name") Đơn giá
							span.th-sort__icon
			tbody
				if PriceWholesale.length
					each pwholesale, i in PriceWholesale
						tr
							//- td.ItemList__col--control.ItemList__col--delete
							//- 	a.ItemList__control.ItemList__control--delete(href="?remove=PriceWholesale&pricewholesale="+pwholesale.id,rel="tooltip", data-placement="left") Xóa
							td.ItemList__col
								a(href="/Product/"+pwholesale.id,rel="tooltip", data-placement="left") #{pwholesale.name}
								input(type="hidden" name="idProduct" value=pwholesale.id)
							td.ItemList__col
								input(type="text" name="whole" value=pwholesale.whole)
				else
					.jumbotron.text-center
						h3(style="margin-bottom:0;margin-top:0;") Chưa có sản phẩm nào.
		button(type='submit').btn.btn-primary Lưu	
	//- if Product.length
	//- 	each product, i in Product
	//- 		h3
	//- 			| #{product.name} 
	//- 			small.text-muted= product._.publishedDate.format('Do MMM YYYY')
			
	//- 		.row
	//- 			each image, i in product.images
	//- 				.col-xs-4.col-sm-3.col-md-2(style="margin-bottom: 30px;")
	//- 					a(href=image.limit(900,600), title=product.name + ' image ' + (i+1), rel=product.key).product-image
	//- 						img(src=image.fill(300,300), alt=product.name + ' image ' + (i+1)).img-thumbnail
		
	//- else
	//- 	.jumbotron.text-center
	//- 		h3(style="margin-bottom:0;margin-top:0;") There are no albums yet.


block page-js
	script(src="/js/lib/fancybox/jquery.fancybox.pack.js")
	script.		
		function saveGroupProduct()
		{
			$('button[type=submit]').on('click',function(){
				var inputName = $('input');
				var lengInput = inputName.length;			
				for(var i = 0; i < lengInput; i += 2)
				{
					var form = document.createElement("form");
					form.setAttribute('method',"post");
					form.append(inputName[i]);
					form.append(inputName[i+1]);
					$.post('/Wholesale/price', $(form).serialize()).done(function() {
						location.reload();
					});			
				}					
			});
		}
		jQuery(function($) {
			$('.product-image').fancybox({
				prevEffect: 'none',
				nextEffect: 'none',
				closeBtn: false,
				helpers: {
					titl: {},
					buttons: {}
				}
			});			
			saveGroupProduct();		

			//- $("span.remove-group-product").click(function(){
			//- 	var parentsTbody = $(this).parents("tbody");
			//- 	var parentsTr = $(this).parents("tr");
			//- 	parentsTbody.remove(0);
			//- });
		});
